out
.classpath
.project
*.ipr
*.iws
*.iml
target
classes
build
.settings
cobertura.ser
bin
.DS_Store
xsite-1.0
*.class
*.log
test.properties
test.script
arquivo.html
arquivo.png
velocity.log*
*.swp
*.pdf
.idea
