<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Caelum Stella - ${title}</title>

  <style type="text/css" media="all">
    @import url( "./style/stella.css" );
    @import url( "./style/SyntaxHighlighter.css" );
  </style>
  <script type="text/javascript" src="./scripts/mootools-beta-1.2b2.js"></script>
  <script type="text/javascript" src="./scripts/docs.js"></script>
  
  <meta name="verify-v1" content="UsIBiaQhhmjFrBwcJ2n4XIvEImPNG4SMVP365rRcpxE="/>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
</head>

<body>
  
<div id="banner">
  <img src="images/logos/stella.jpg" alt="Caelum Stella"/>

  <h1>Caelum Stella</h1>
  <h2>Simplificando o desenvolvimento no Brasil</h2>
</div>

<div id="Menu">
  <#list sitemap.sections as section>
    <div class="MGroup MEntry">
      <a>${section.name}</a>

      <div id="MGroupContent${section_index}" class="MGroupContent" style="display: block;">
        <#list section.pages as otherPage>
          <#if otherPage=page>
            <div class="MFile MEntry" id="MSelected">${otherPage.title}</div>
            <#else />
              <div class="MFile MEntry">
                <a href="${otherPage.href}">${otherPage.title}</a>
              </div>
          </#if>
        </#list>
      </div>
    </div>
  </#list>
</div>

<div id="content">
  ${body}
</div>

<div id="footer">
  <div class="right">Todos os direitos reservados a <a href="http://www.caelum.com.br">Caelum</a> &#169; 2009</div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4458594-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>

</body>

<!--  SyntaxHighlighter scripts:  MUST be left AFTER the body -->
<script language="javascript" src="./scripts/shCore.js"></script>
<script language="javascript" src="./scripts/shBrushJava.js"></script>
<!--<script language="javascript" src="./scripts/shBrushRuby.js"></script>-->
<script language="javascript" src="./scripts/shBrushXml.js"></script>
<!--<script language="javascript" src="./scripts/shBrushSql.js"></script>-->
<script language="javascript" src="./scripts/shBrushJScript.js"></script>
<script type="text/javascript">
  dp.SyntaxHighlighter.HighlightAll('code', true, false);
</script>

</html>
