<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
       "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
       "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.HSQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			org.hsqldb.jdbcDriver
		</property>
		<property name="hibernate.connection.url">
			jdbc:hsqldb:mem:temporary
		</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping class="br.com.caelum.stella.example.validator.ValidaCPF"/>
	</session-factory>
</hibernate-configuration>